# Data Types in Python

In [1]:
myint = 13

In [2]:
print(type(myint))

<class 'int'>

In [4]:
a = myint/2

In [5]:
print(a)

6.5

In [6]:
# TO DO: Print the type of a
print(type(a))

<class 'float'>

In [7]:
# TO DO: Create a new variable that is equal to a but a string type variable
b = str(a)

In [10]:
# TO DO: Use the built-in round function to round a

In [19]:
# TO DO: Use the abs function to take the absolute value of -a

In [ ]:
# TO DO: Use the round function with 1 decimal to round the number 12.345 and print it

In [32]:
# boolean type variables

mylist = [True,True,False]

In [34]:
# TO DO: print the True/False condition of mylist using the all function

In [34]:
# TO DO: print the True/False condition of mylist using the any function

# What's the difference between the any and all functions?

In [38]:
data = {'Pet': ['Dog','Cat','Puppy','Kitty','Kitty'],
        'Name': ['Otis','Sam','Tiny','Edward','Sibil']}

In [41]:
import pandas as pd
df = pd.DataFrame(data)

In [49]:
[df.Pet == 'Kitty']

[0    False
 1    False
 2    False
 3     True
 4     True
 Name: Pet, dtype: bool]

In [50]:
# TO DO: print the True/False statements where the 'Name' column of the dataframe is 'Edward'

In [51]:
# TO DO: Return the rows of the dataframe where the Pet type is 'Kitty'

df[df.Pet == 'Kitty']

     Pet    Name
3  Kitty  Edward
4  Kitty   Sibil